<div class="panel panel-default">
  <div class="panel-heading">Клиника</div>
  <table class="table">
    <thead>
    <tr>
      <th>Имя</th>
      <th>Специализация</th>
      <th>Квалификация</th>
      <th>Места приема</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
