<div class="panel panel-default">
  <div class="panel-heading">
    <h5>
      <%=	"#{t('request')} #{@illness_request.id}" %>
    </h5>
  </div>
  <div class="panel-heading">Симптомы:</div>
  <div  class="list-group">
    <% @illness_request.symptoms.each do |symptom| %>
        <div class="list-group-item">
          <%= symptom.title %>
        </div>
    <% end %>
  </div>
</div>

<%= link_to t('actions.back'), illness_requests_path, class: 'btn btn-primary btn-m' %>
