<tr>
  <th>Назначения:</th>
  <td>
    <table class="table">
      <thead>
      <tr>
        <th>Дата выдачи рецепта</th>
        <th>Рецепт</th>
        <th>Рекомендации</th>
      </tr>
      </thead>
      <tbody>
      <% prescriptions.each do |prescription| %>
          <tr>
            <td class="width_15"><%=	prescription.human_created_at %></td>
            <td class="width_20"> <%=	prescription.title %></td>
            <td class="width_auto"> <%=	prescription.recommendations %></td>
          </tr>
      <%	end %>
      </tbody>
    </table>
  </td>
</tr>

