<tr>
  <th>Симптомы:</th>
  <td>
    <table class="table">
      <thead>
      <tr>
        <th>Симптом</th>
        <th>Дата постановки симптома</th>
      </tr>
      </thead>
      <tbody>
      <%	symptoms.each  do |symptom| %>
          <tr>
            <td class="width_15"> <%=	symptom.title %></td>
            <td><%=	symptom.human_first_occurence_date %></td>
          </tr>
      <%	end %>
      </tbody>
    </table>
  </td>
</tr>

