<div class="panel panel-default">
  <%= render 'common/illness_diseases_menu' %>

  <div  class="list-group">
    <% @illnesses.each do |illness| %>
      <%= link_to illness.first_disease_title, illness_path(illness), class: "list-group-item" %>
    <% end %>
  </div>

</div>