<h4>Запись на прием</h4>

<h5>Выберите симптом:</h5>

<%= simple_form_for @illness_request do |f| %>
    <%= f.collection_check_boxes :symptom_ids, @symptoms, :id, :title %>
    <%= f.button :submit %>
<% end %>


<%= link_to 'Назад', home_index_path %>
