<h4><%=	@disease.title %></h4>
<div>
  <%= @disease.description.inspect %>
</div>
<h5>Клиники, в которых лечат данную болезнь</h5>
<div class="list-group">
  <%	@disease.clinics.each do |clinic| %>
      <%=	link_to clinic.title, clinic_path(clinic.id), class: "list-group-item" %>
  <% end %>
</div>

<%= link_to 'Назад', diseases_path, class: 'btn btn-primary btn-m' %>
