<div class="panel panel-default">
  <div class="panel-heading">Врачи</div>
  <table class="table">
    <thead>
    <tr>
      <th>Имя</th>
      <th>Места приема</th>
    </tr>
    </thead>
    <tbody>
    <% @doctors.each do |doctor| %>
      <tr>
          <td><%= doctor.surname %> <%= doctor.name %></td>
          <td>
            <% doctor.clinics.each do |clinic| %>
                <%= clinic.title %>
            <%	end %>
          </td>
    <% end %>
      </tr>
    </tbody>
  </table>
</div>