<div class="panel panel-default">
  <div class="panel-heading">Врачи</div>
  <table class="table">
    <thead>
    <tr>
      <th>Имя</th>
      <th>Специализация</th>
      <th>Квалификация</th>
      <th>Места приема</th>
    </tr>
    </thead>
    <tbody>
    <% @doctors.each do |doctor| %>
        <tr>
          <td><%=	link_to "#{doctor.surname} #{doctor.name}", doctor_path(doctor.id) %></td>
          <td><%= doctor.specializations.map {|s| s.title}.join(', ') %></td>
          <td>
            <% if doctor.grades.nil? %>
                Врач
            <% else %>
                <%= doctor.grades.first.title %>
            <% end%>
          </td>
          <td>
            <%= doctor.clinics.map {|c| c.title}.join(', ') %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>